.galery{
    width: 100%;
    .galeryCantainer{
        align-items: center;
        display: flex;
        height: 550px;
        margin: 0 auto;
        width: 90%;
        position: relative;
        overflow: hidden;
        justify-content: center;
        flex-direction: column;

        .galeryItem{
            height: 550px;
            opacity: 0;
            position: absolute;
            transition: all 0.8s ease-in-out;
            width: 450px;
            z-index: 0;
            background-size: contain;
            display: flex;
            flex-direction: column;
            .img{
                width: 100%;
                height: 100%;
            }
            .content{
                margin: 10px 0 0 0;
                border-top-right-radius: 30px;
                border-top-left-radius:30px ;
                width: 100%;
                height: 45%;
                position: absolute;
                bottom: 0;
                z-index: 100;
                transform: translateY(1000px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 0.4s ease-in-out;
                background: rgb(14, 140, 203);
                backdrop-filter: blur(10px);
background: linear-gradient(45deg, rgb(54, 133, 172) 0%, rgba(121, 132, 130, 0.622) 35%, rgb(2, 79, 95) 100%);
                p{
                    color:black;
                    padding: 30px 5px;
                    margin: 10px 0;
                }

            }
            .content.showContent{
                transform: translateY(0);
                transition: all 0.4s ease-in-out;
            }
        }
    }
}



//  claasses
.item1{
    height: 430px !important;
    left: 10% !important;
    opacity: 0.1!important;
    transform: translateX(-50%);
    z-index: 0;
    transition: all 0.4s ease-in-out;
}
.item2{
    height: 460px !important;
    opacity: 1 !important;
    left: 25%;
    z-index: 0.2 !important;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
}
.item3{
    height: 500px !important;
    opacity: 1 !important;
    left: 35% !important;
    z-index: 1 !important;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
}
.item4{
    border-top:3px solid #cc0000;
    border-right:1px solid #cc0000;
    border-bottom:3px solid #cc0000;
    border-left:1px solid #cc0000;
    height: 550px !important;
    opacity: 1 !important;
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 2 !important;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.item5{
    left: 65%;
    height: 500px !important;
    opacity: 1 !important;
    transform: translateX(-50%);
    z-index: 1 !important;
    transition: all 0.4s ease-in-out;
}
.item6{
    left: 80%;
    height: 460px !important;
    opacity: 1!important;
    transform: translateX(-50%);
    z-index: 0.2 !important;
    transition: all 0.4s ease-in-out;
}
.item7{
    left: 90%;
    height: 430px !important;
    opacity: 0.1 !important;
    transform: translateX(-50%);
    z-index: 0 !important;  
    transition: all 0.4s ease-in-out;
}
.galeryControls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    gap: 10px;
    margin: 25px 0;
    height: max-content;
    .gallerynext{
           width: 100px;
           height: 45px;
           box-shadow: 16px 14px 20px #0000008c;
           border-radius: 5px;
           border: 0.2px solid;
           overflow: hidden;
           position: relative;
           background-color: black;
           display: flex;
           align-items: center;
           justify-content: center;
           outline: none;
           &::before{
            content: "";
            background-color: rgb(255, 17, 17);
            // background-image: conic-gradient(
            //     #cc154f 90deg,
            //     transparent 10deg
            // );
            width: 120%;
            height: 90%;
            position: absolute;
            animation: rotate 2s linear infinite;
           }
           &::after{
            content: 'Next';
            cursor: pointer;

            width: 95px;
            height: 40px;
            background-color: #060606;
            position: absolute;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ff0052;
            font-size: larger;
            letter-spacing: 5px;
            box-shadow: inset 20px 20px #0000008c;
           }
        &:focus{
            outline: none;
        }
        @keyframes rotate {
            0%{
                transform:rotate(0deg);
            }
            100%{
                transform:rotate(360deg);
            }
        }
    }
}
    .galleryprev{
           width: 100px;
           height: 45px;
           box-shadow: 16px 14px 20px #0000008c;
           border-radius: 5px;
           overflow: hidden;
           border: 0.2px solid;
           position: relative;
           background-color: black;
           display: flex;
           align-items: center;
           justify-content: center;
           outline: none;
           &::before{
            content: "";
            background-color: rgb(255, 17, 17);
            // background-image: conic-gradient(
            //     #cc154f 90deg,
            //     transparent 10deg
            // );
            width: 120%;
            height: 90%;
            position: absolute;
            animation: rotatePrev 2s linear infinite;
           }
           &::after{
            content: 'Prev';
            width: 95px;
            cursor: pointer;

            height: 40px;
            background-color: #060606;
            position: absolute;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ff0052;
            font-size:large ;
            letter-spacing: 2.5px;
            box-shadow: inset 20px 20px #0000008c;
           }
        &:focus{
            outline: none;
        }
        @keyframes rotatePrev {
            0%{
                transform:rotate(0deg);
            }
            100%{
                transform:rotate(-360deg);
            }
        }
    }

.galeryNav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}
.galeryNav li{
    background-color: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}


.galeryNav li.galeryItemSelected{
    background-color: #555;
}
